rm-axis {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid-line {
  stroke: #000;
  stroke-width: 0.5;
  stroke-opacity: 0.3;
}

.domain {
  display: none;
}
